body {
/*  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px
  color:#333;
  */
  width: 900px;
  margin: auto;
} 

.sayfabasi {
  height: 100px;
  width: 900px;
  color: whitesmoke;
  background-color: #040D12;
  text-align: center;
  font-size: 32px;
}

.navigasyon {
  height: 40px;
  width: 900px;
}

article {
  height: 800px;
  width: 900px;
  background-color: #93B1A6;
  float: left;
}

footer {
  height: 100px;
  width: 900px;
  background: #5C8374;
  text-align: center;
  clear: both;
}

/* Dropdown */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5C8374;
}

nav ul li {
  float: left;
}

nav ul li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: #183D3D;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #93B1A6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --------------------------------------------------------------------------------*/

.kutu{
  float:left;
  width: 590px;
  margin-left: 5px;
  font-size: 14px;
}
.kutu2{
  font-size: 12px;
  float: left;
  margin-left: 5px;
  width: 290px;
}

.fnt-Segoe-14{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  text-align:justify;
}

.fnt-Segoe-12{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  text-align:justify;
  
}

footer ul{
  display:inline-flex; 
  list-style-type: none;

}
footer ul li{
  margin-left: 10px ;
  margin-right: 10px;
  clear: both;
  float:none;
}